<!doctype html>
<html>
  <head>
    <title>{{Title}}</title>
  </head>
  <body>
    <h1>About Page</h1>
    <p>This is an example paragraph. <strong>{{body}}</strong> </p>
    <footer>Copyright by {{Name}}</footer>
  </body>
</html>
